// Pokemon Color Scheme
$red: #FF0000;
$boston_university_red: #CC0000;
$cerulean_blue: #3B4CCA;
$golden_yellow: #FFDE00;
$gold_foil: #B3A125;



* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #3b4cca, #9924ab, #c6007b, #d60044, #cc0000);
}

nav {
    background-color: #CC0000;
    color: white;
    ul {
        width: 80%;
        margin: auto;
        li {
            list-style: none;
            display: inline-block;
            margin: 15px 30px 10px 0;
        }
    }
}

main {
    height: 100vh;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 25px;
}

footer {
    height: 200px;
    background-color: white;
}